<h1>Listing timings</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @timings.each do |timing| %>
  <tr>
    <td><%= link_to 'Show', timing %></td>
    <td><%= link_to 'Edit', edit_timing_path(timing) %></td>
    <td><%= link_to 'Destroy', timing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Timing', new_timing_path %>
