
<table>
<tr>

<td width="180px"><%= link_to "Back To Search Results Page", :controller => "locations",:action => "search", :clinic => $gclinic,:location => $glocation, :city => $gcity, :speciality => $gspeciality%></td>

<td width="30px" valign="middle" style="text-align: center;"> Or</td>

<td><%= link_to "Search Again", :controller => "locations",:action => "search", :clinic => $gclinic,:location => $glocation, :city => $gcity, :speciality => $gspeciality%></td>
</tr>
</table>
</br></br>
</br></br>

<h1 style="color: green;padding-left: 142px;font-size: 26px;">Your booking request has been saved successfully !!!</h1></br></br></br></br>

 <p style="padding-left: 216px;color: red;font-size: 20px;">You will soon get confirmation about your booking...</p>

