<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>online medlab</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="css/style.css" type="text/css">
	    <!--tabs styles and script-->
            <link rel="stylesheet" href="css/jquery-ui.css" />
    <script src="js/jquery-1.8.3.js"></script>
    <script src="js/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
        <script>
    $(function() {
        $( "#tabs" ).tabs();
    });
    </script>
    <!--tabs styles over-->
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start menu -->
	<div id="menu">
		<ul>
			<li><a href="/home/index">Home</a></li>
			<li><a href="/home/aboutus">About Us</a></li>
			<li><a href="/home/hospitals_clinics">Hospitals / Clinics</a></li>
			<li><a href="/home/labs">Labs</a></li>
			<li><a href="/home/partners">Partners</a></li>
			<li><a href="/home/support">Support</a></li>
		</ul>
	</div>
	<!-- end menu -->
	<!-- start header -->
	<div id="header">
		<div id="logo">
			<img src="images/logo.gif" style="width: 270px;height: 57px;">
		</div>
		<div id="call1">
		    <img src="images/phone.png" style="width:21px;">
		</div>
		<div id="call">
		    	For Appointment call us at (040) 40203231
		</div>
		<div id="search">
			<form method="get" action="">
				<fieldset>
				<legend>Quick Search</legend>
				<input id="s" type="text" name="s" value="" />
				<input id="x" type="submit" value="Search" />
				</fieldset>
			</form>
		</div>
	</div>
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="bgtop"></div>
		<div id="bgbottom">
			<!-- start content -->
			<div id="content">
				<div class="post">
					<div class="bigpix">
			
					</div>
		
				<h1 class="title"><a href="#">Search</a></h1>
										
				</div>
					
					<!-- search content here-->
			</div>
			<!-- end content -->
						
			<!-- start sidebar two -->
			<div id="sidebar2" class="sidebar">
				<ul>
					<li>
						<h2>Calendar</h2>
						<div id="calendar_wrap">
							<table summary="Calendar">
								<caption>
								October 2007
								</caption>
								<thead>
									<tr>
										<th abbr="Monday" scope="col" title="Monday">M</th>
										<th abbr="Tuesday" scope="col" title="Tuesday">T</th>
										<th abbr="Wednesday" scope="col" title="Wednesday">W</th>
										<th abbr="Thursday" scope="col" title="Thursday">T</th>
										<th abbr="Friday" scope="col" title="Friday">F</th>
										<th abbr="Saturday" scope="col" title="Saturday">S</th>
										<th abbr="Sunday" scope="col" title="Sunday">S</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<td abbr="September" colspan="3" id="prev"><a href="#" title="View posts for September 2007">&laquo; Sep</a></td>
										<td class="pad">&nbsp;</td>
										<td abbr="November" colspan="3" id="next"><a href="#" title="View posts for November 2007">Nov &raquo;</a></td>
									</tr>
								</tfoot>
								<tbody>
									<tr>
										<td>1</td>
										<td>2</td>
										<td>3</td>
										<td id="today">4</td>
										<td>5</td>
										<td>6</td>
										<td>7</td>
									</tr>
									<tr>
										<td>8</td>
										<td>9</td>
										<td>10</td>
										<td>11</td>
										<td>12</td>
										<td>13</td>
										<td><a href="#">14</a></td>
									</tr>
									<tr>
										<td>15</td>
										<td>16</td>
										<td>17</td>
										<td>18</td>
										<td>19</td>
										<td>20</td>
										<td>21</td>
									</tr>
									<tr>
										<td>22</td>
										<td>23</td>
										<td>24</td>
										<td>25</td>
										<td>26</td>
										<td>27</td>
										<td>28</td>
									</tr>
									<tr>
										<td>29</td>
										<td>30</td>
										<td>31</td>
										<td class="pad" colspan="4">&nbsp;</td>
									</tr>
								</tbody>
							</table>
						</div>
					</li>
					<li id="tag_cloud">
						<h2>Tag Cloud</h2>
						<a href="#">dolor</a> <a href="#">ipsum</a> <a href="#">lorem</a> <a href="#">sit amet</a> <a href="#">dolor</a> <a href="#">ipsum</a> <a href="#">lorem</a> <a href="#">sit amet</a> </li>
					<li>
						<h2>Lorem Ipsum</h2>
						<ul>
							<li><a href="#">Aliquam libero</a></li>
							<li><a href="#">Consectetuer adipiscing</a></li>
							<li><a href="#">Metus aliquam tesque</a></li>
							<li><a href="#">Suspendisse iaculis</a></li>
							<li><a href="#">Urnanet non molestie</a></li>
							<li><a href="#">Proin orci porttitor</a></li>
							<li><a href="#">Aliquam libero</a></li>
							<li><a href="#">Consectetuer dolor elit</a></li>
							<li><a href="#">Aliquam pellentesque</a></li>
							<li><a href="#">Urnanet moles semper</a></li>
							<li><a href="#">Proin orci porttitor</a></li>
							<li><a href="#">Aliquam libero</a></li>
							<li><a href="#">Sectetuer adipiscing elit</a></li>
							<li><a href="#">Pellentesque aliquam</a></li>
							<li><a href="#">Suspendisse mauris</a></li>
							<li><a href="#">Urnanet Estie semper</a></li>
							<li><a href="#">Gravida orci porttitor</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- end sidebar two -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<hr />
	<!-- start footer -->
	<div id="footer">
		<ul>
                <li><a href="/home/home">Home</a></li><li><a href="/home/aboutus">About Us</a></li><li><a href="/home/hospitals_clinics">Hospitals/Clinics</a></li><li><a href="/home/labs">Labs</a></li><li><a href="/home/partners">Patners</a></li><li><a href="/home/support">Support</a></li><li><a href="/home/contactus">Contact Us</a></li><li><a href="/home/feedback">Feedback</a></li><li><a href="#">Privacy Policy</a></li><li class="last">© Copyright 2013 OnlineMedLab</li>
              </ul>
	</div>
	<!-- end footer -->
</div>
<!-- end wrapper -->
</body>
</html>
