<h1>haiiiiiiiiiiiiiiiiiiiiiiiiii</h1>
<% if @locations %> 
<% for location in @locations %>
    <%= location.name %>
    <%= location.longitude %>
    <%= location.latitude %>
   
<% end %>
<% end %>




