* {
	margin: 0;
	padding: 0;
}

body {
	background:url(/assets/bg1.gif) repeat-x;
	color: #555;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	}

h1, h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #666666;
}

h1 {
	letter-spacing: -1px;
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	margin-bottom: 15px;
	letter-spacing: -1px;
	font-size: 1.2em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-bottom: 20px;
	line-height: 170%;
}

p {
}

blockquote {
	padding: 0 30px;
	background: url(/assets/img12.gif) no-repeat;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #999999;
}

blockquote p {
}

a {
	/*background: url(/assets/img03.gif) repeat-x left bottom;*/	
	text-decoration: none;
	color: #1D62B3;
}

a:hover {
	background: none;
	color: #E43C15;
}

hr {
	display: none;
}

/* Wrapper */

#wrapper {
	}

/* Menu */

#menu {
height: 54px;
width: 1200px;
margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
}

#menu a {
	float: left;
	height: 30px;
	padding: 9px 30px 0px 30px;
	font-size: 1.2em;
	font-weight: bold;
	color: #FCFDDF;
	cursor: pointer;
background-image: url('/assets/arrow_menu-new.png');
background-repeat: no-repeat;
background-position: center 30px;
}
.BackgroundNone {
background: none !important;
}
#menu a:hover {
background: white !important;
background: -moz-linear-gradient(top, white 10%, #E1E1E1 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, white), color-stop(100%, #E1E1E1)) !important;
background: -webkit-linear-gradient(top, white 10%, #E1E1E1 100%) !important;
background: -o-linear-gradient(top, white 10%, #E1E1E1 100%) !important;
background: -ms-linear-gradient(top, white 10%, #E1E1E1 100%) !important;
background: linear-gradient(to bottom, white 10%, #E1E1E1 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=0 ) !important;
color: #1E97CD;
}

#menu .current_page_item a {
	
}

/* Header */

#header {
	height: 60px;
	width: 1200px;
	margin: 0 auto;
}
#headerbot {
	height: 1px;
border-bottom: 1px solid lightSkyBlue;
}

/* Logo */

#logo {
	float: left;
	}

#logo h1, #logo p {
	float: left;
}

#logo h1 {
	padding: 20px 0 0 20px;
	font-size: 3.2em;
	font-weight: bold;
	color: lightSeaGreen;
}

#logo p {
	margin: 0;
	padding: 42px 0 0 6px;
	letter-spacing: 2px;
	line-height: normal;
	font: normal 1.4em Georgia, "Times New Roman", Times, serif;
	color: steelBlue;
}

/* Search */

#socioc {
	float: left;
padding: 18px 20px 4px 0;
font-size: 18px;
color: #359FDB;
text-align: left;
margin-left: 108px;
}
#socioc1 {
	float: right;
	width: 200px;
	padding: 18px 20px 4px 0;
	font-size: 18px;
	color: #359FDB;
	text-align: left;
}

#search fieldset {
	border: none;
}

#search legend {
	display: none;
}

#s {
	float: left;
	width: 155px;
	margin: 0 0 0 10px;
	background: none;
	border: none;
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #474848;
}

#x {
	display: none;
}

/* Page */

#page {
margin: 6px auto;
width: 1200px;
background: white;
box-shadow: 0px 1px 5px 0px lightblue;
border-radius: 6px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
	}

#bgtop {
	height: 20px;
	}

#bgbottom {
	padding-bottom: 20px;
/*background: url('/assets/bottom.jpg')repeat-x bottom;*/
border-radius: 9px;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
}

#page ul {
	}

#page ul li {
	
}

/* Content */

#content {
	float: left;
width: 930px;
height: 800px;
min-height: 800px;
padding: 0 0 0 20px;
border-right: 1px dotted lightSeaGreen;
	}

html>body #content {
	height: auto;
}

/* Post */

.post {
}

.post .bigpix {
	margin-bottom: 20px;
	}

.post .bigpix .image {
}

.post .bigpix .caption {
	margin: 0;
	padding: 2px 10px 5px 10px;
	line-height: normal;
	font-size: .8em;
	font-weight: bold;
	color: #999999;
}

.post .bigpix .caption a {
	color: #999999;
}

.post .title {
	padding: 0;
	font-size: 2.2em;
}	

.post .title a {
	background: none;
}
#title h2{
	font-size: 14px;
}
.post .byline {
	margin: 0;
	padding: 0 10px;
	line-height: normal;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bold;
	color: #C2C2C2;
}

.post .byline a {
	color: #C2C2C2;
}

.post .entry {
	padding: 20px 10px 0 10px;
}

.post .tags {
	margin: 0;
	padding: 5px 10px;
	background: #F0F0F0;
	line-height: normal;
	font-size: .8em;
	font-weight: bold;
	width:450px;
}

.post .tags a {
	padding: 0 5px;
	background: none;
}

.post .links {
	padding: 5px 10px;
	border-bottom: 1px solid #EEEEEE;
	font-weight: bold;
	width: 450px;
}

.post .links .comments {
	padding-left: 20px;
	background: url(/assets/img13.gif) no-repeat left center;
}

.post .links .permalink {
	padding-left: 18px;
	background: url(/assets/img14.gif) no-repeat left center;
}

/* Sidebar Common Style */

.sidebar {
}

#page .sidebar ul {
	line-height: normal;
	list-style: none;
}

#page .sidebar li {
	padding: 0;
	background: none;
}

#page .sidebar li ul {
}

#page .sidebar li li {
	padding: 5px 15px 5px 25px;
	background: url(/assets/img11.gif) no-repeat 10px 10px;
	border-bottom: 1px solid #F0F0F0;
}

.sidebar a {
	background: none;
}

/* Sidebar One */

#sidebar1 {
	float: left;
	width: 250px;
	padding: 0 0 0 20px;
}

/* Sidebar Two */

#sidebar2 {
	float: right;
width: 210px;
padding: 0px 20px 0px 15px;
}

/* Calendar */

/*#calendar_wrap {
	padding: 0 5px 20px 0px;
}

#calendar_wrap table {
	width: 100%;
	text-align: center;
	}

#calendar_wrap th, #calendar_wrap td {
	padding: 2px;
}

#calendar_wrap thead {
	background: #FFFFFF;
}

#calendar_wrap tbody {
	font-size: .8em;
	font-weight: bold;
}

#calendar_wrap tbody td {
	padding: 0px;
}

#calendar_wrap tbody a {
	font-size: 1.2em;
}

#calendar_wrap tfoot {
	background: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
	font-size: .8em;
}

#calendar_wrap tfoot #prev {
	text-align: left;
}

#calendar_wrap tfoot #next {
	text-align: right;
}*/

/* Tag Cloud */

#tag_cloud {
	margin-bottom: 20px;
}

/* Footer */

#footer {
	width: 100%;
	height: 83px;
	margin: 0 auto;
	background: url(/assets/bottom.jpg) repeat-x;
	}

#footer p {
	padding-top: 20px;
	text-align: center;
	font-size: .8em;
	font-weight: bold;
}
#calendar_wrap {
	padding: 0;
}

#calendar_wrap table {
	width: 100%;
	text-align: center;
	}
#calendar_wrap th, #calendar_wrap td {
	padding: 2px;
}

#calendar_wrap thead {
	background: #FFFFFF;
}

#calendar_wrap tbody {
	font-size: .8em;
	font-weight: bold;
}

#calendar_wrap tbody td {
	padding: 14px 0px 0px 0px;
}

#calendar_wrap tbody a {
	font-size: 1.2em;
}

#calendar_wrap tfoot {
	background: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
	font-size: .8em;
}

#calendar_wrap tfoot #prev {
	text-align: left;
}

#calendar_wrap tfoot #next {
	text-align: right;
}
.qp ul {
list-style-image: url('/assets/bullet.gif');
margin-left: 45px;
line-height: 24px;
padding: 0;
}
.borbot
{
	  border-bottom: 1px dotted skyblue;
	  padding-bottom: 6px;
}
