@charset "utf-8";
/* CSS Document */


img { border:none; }

.center {
width:400px;
margin-left:auto;
margin-right:auto;
}

.centerText {
text-align:center;
}

/* ------------------------------ liens */


a:active { color:#baee00; }

.center {
width:60%;
margin:20px auto 0 auto;
}

.marginbot {
margin-bottom:15px;
}

ul.list li {
list-style-type:none;
margin-left:20px;
}

ul.tabs {
width:100%;
overflow:hidden;
margin: 0;
padding: 0;
}

ul.tabs li {
list-style-type:none;
display:block;
float:left;
color:#fff;
padding:8px;
margin-right:2px;
border-bottom:1px solid #2f2f2f;
background-color:#1f5e6f;
-moz-border-radius: 4px 4px 0 0;
-webkit-border-radius: 4px 4px 0 0;
cursor:pointer;
}

ul.tabs li:hover {
background-color:#43b0ce;
}

ul.tabs li.current {
border-bottom:2px solid #43b0ce;
background-color:#43b0ce;
padding:8px;
}

.tabscontent {
border: 2px solid #43B0CE;
padding: 8px 5px 7px 4px;
display: none;
width: 100%;
text-align: justify;
}
